#title-basic7 {
    color: red;
}


.box-basic7 {
  width: 100px;
  height: 100px;
}

.red-box-basic7 {
  background-color: red;
}

.blue-box-basic7 {
  background-color: blue;
}

.container-basic7 {
     
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

button:hover {
  background: #1e40af;
}