.basic19-nav {
    list-style: none;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    
}

.basic19-nav li {
    
}

.basic19-nav a {
    white-space: nowrap;
    font-weight: 600;
    text-decoration: none;
}

.basic19-nav a:hover {
    text-decoration: underline;
}



