* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}


nav {
  margin-top: 10px;
  border-top:#364fab  4px solid;
  border-bottom: #364fab 4px solid;
}


.nav-links {
  margin:10px 0;
  padding: 0 10px;
  list-style: none;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.nav-links a {
  text-decoration: none;
  color:#364fab;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: black;
}

main {
  padding: 20px;
  background-color: whitesmoke;
  min-height: 80vh;
}