* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(90deg, #cdffd8, #94b9ff);

}

header {
  display: flex;
  justify-content: space-between;
}

.open-source {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.opens {
  display: flex;
  align-items: center;
}

#logo {
  height: 100px;
  width: auto;
}


nav {
  border-top:white  2px solid;
  border-bottom: white 2px solid;
  background-color: whitesmoke;
}


.nav-links {
  margin:10px 0;
  padding: 0 10px;
  list-style: none;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.nav-links a {
  text-decoration: none;
  color:#364fab;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: black;
}

main {
  padding: 20px;
  min-height: 80vh;
  display: block;
  max-width: 1200px;
  margin: 10px auto; /* centers horizontally */
}

.blur-box {
  background: rgba(255, 255, 255, 0.2); /* semi-transparent background */
  backdrop-filter: blur(10px); /* blur strength */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  border-radius: 12px;
  padding: 20px;
}

footer {
  text-align: center;
  border-top:whitesmoke  2px solid;
  
}

footer .support {
  font-size: xx-small;
  font-weight: bold;
  margin-bottom: 2px;
}

footer .support a{
  color: black;
  text-decoration: none;
  background: linear-gradient(180deg, #7b2a9f, #fdd82e);
  border-radius: 4px;
  padding: 0px;
  
  
}